* {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
/* .container .ok button {
    color: aqua;
}
.active-filter-btn{
    background-color: var(--black)!important;
    color: rgb(0, 0, 0)!important;
    border-color: var(--black)!important;
}
.filter-button-group .btn:hover{
    color: rgb(29, 150, 255)!important;
}
.product-list .btn{
    padding: 8px 20px!important;
} */
.product-list .text-center a:hover {
    color: aqua;
}